<nav   class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a  style="padding-left: 100px;" class="navbar-brand" href=""> {{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/books">Libros</a>
      </li>


     
    </ul>
    <ul class="navbar-nav navbar-right" style="padding-right: 100px;">
      <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-primary">Inicio de sesión</a></li>

      <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.usuario.username}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button (click)="logout()" class="dropdown-item" type="submit">Cerrar Sesión</button>
        </div>
      </li>
    </ul>
  </div>
</nav>