<div class="card border-primary mb-3">
  <div class="card-header">Harry Books - Tienda Online</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Libros Disponibles</h5>

    <div class="my-2 text-right">
      <button class="btn btn-rounded btn-primary" type="button"   routerLink="/cart"  >
     <span class="badge badge-light" style="    color: #f00;
     background-color: #f8f9fa;
     border-style: solid;
     font-size: 14px;
     border-radius: 16px;">{{sharedService.currentCartCount}}</span>    Ir al carrito de compras
      </button>
    </div>

    <div *ngIf="books?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="books?.length>0">

      <tbody>
        <tr *ngFor="let book of books">
          <td style="width: 200px;"> <img  width="200px" src="{{urlBackend}}/images/{{book.coverPage}}"> </td>
          <td>

            <label> {{book.title}} </label>
            <br />
            <label>Cantidad Disponible: </label> <label *ngIf="book.stock>0"> {{book.stock}} </label>
            <label *ngIf="book.stock==0" style="color: red;"> Agotado </label>
            <br />
            <label>Precio: $</label> <label> {{book.price  | currency: 'COP'}} </label>
            <br />

            <label *ngIf="book.stock>0">Agregar al carrito: </label> <input *ngIf="book.stock>0" type="number" value="{{book.quantity}}"
            min="0" 
            required
            (change)="actualizarCantidad(book, $event)"

              class="form-control col-sm-3">
            <br />
            <button *ngIf="book.stock>0" class="btn btn-rounded btn-primary col-sm-3" type="submit" 
              (click)="OnAddCart(book)">
              Agregar
            </button>

          </td>





        </tr>
      </tbody>
    </table>
    
  </div>
</div>