<div class="card border-primary mb-3">
  <div class="card-header">Harry Books - Tienda Online</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Carrito de compras</h5>



    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>Eliminar</th>
          <th>Libros</th>
          <th>Cantidad</th>
          <th>Valor Unitario</th>
          <th>Valor Total</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemsShoppingCart of shoppingCart.itemsShoppingCart">
          <td><button class="btn btn-danger btn-sm" type="button"
              (click)="eliminarBook(itemsShoppingCart.book.id)">Eliminar</button></td>
          <td>{{itemsShoppingCart.book.title}}</td>
          
          <td>
            <input  type="number" value="{{itemsShoppingCart.quantity}}"
            min="0" 
            required
              (change)="actualizarCantidad(itemsShoppingCart.book.id, $event, itemsShoppingCart)" class="form-control col-sm-3">
          </td>

    
          <td>$ {{itemsShoppingCart.book.price | currency: 'COP'}}</td>
          <td>$ {{calcularSubTotal(itemsShoppingCart) | currency: 'COP'}}</td>
        </tr>
      </tbody>
    </table>
    <h5 class="float-right" *ngIf="shoppingCart.itemsShoppingCart.length > 0">Valor total de la compra: <span
        class="">${{total | currency: 'COP'}}</span></h5>
    <br />
    <br />


    <div class="row justify-content-between">
      <div style="padding-left: 2%;"> <button class="btn btn-rounded btn-primary" type="submit"
      
        (click)="cancelarCompra()"
        >
          Cancelar La Compra
        </button></div>
      <div style="padding-right: 2%;"><button class="btn btn-rounded btn-primary " type="submit"   (click)="confirmarCompra()">
          Confirmar La Compra
        </button></div>
    </div>


  </div>
</div>